<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The To-do app</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Lists</h1>
  <form action="/" method="POST">
      <input type="text" name="task" placeholder="Task" >
      <button>Add Task</button>
  </form>
  <ul>
    <% result.forEach(function(task) { %>
      <li class=<%= (task.complete == "F") ? "list-item" : "list-item-complete" %>><%= task.task %></li>
    <% }); %>
  </ul>

  <script src="/js/script.js"></script>
</body>
</html>